@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root{
    --color-1: #F7D9C4;
    --color-2: #EFEFEF;
    --color-3: #232323;
    --color-4: #FF8484;
    --color-5: #777777;
    --color-6: #127FFF;
    --color-7: #DCE8EB;
}

a{
    text-decoration: none;
    color: #232323;
}
li{
    list-style-type: none;
}
body{
    font-family: "DM Sans", sans-serif;
}
*{
    box-sizing: border-box;
}
.container{
    width: 100%;
    max-width: 1760px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.video-link {
    display: inline-block;
    font-size: 20px;
    padding: 25px 28px;
    background-color: #007bff; /* Màu nền */
    color: #fff; /* Màu chữ */
    text-decoration: none; /* Bỏ gạch chân */
    border-radius: 50%; /* Góc bo tròn */
    cursor: pointer; /* Con trỏ dạng nút */
}

.video-link:hover {
    background-color: #0056b3; /* Màu nền khi hover */
}

.video-popup {
    display: none; /* Ẩn popup */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
}

.video-popup iframe {
    width: 100%;
    height: 100%;
}

.video-popup .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}